<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="nav-item"><%= link_to "Eventos", admin_eventos_path %></li>
        <li class="nav-item"><%= link_to "Tipos de Evento", admin_eventotipos_path %></li>
        <li class="nav-item active"><a>¡Hola, <%= current_user.email if user_signed_in? %> !</a></li>
        <li><%= link_to "Nuevo Evento", new_admin_evento_path %></li>
        <li><%= link_to "Nuevo Tipo de Evento", new_admin_eventotipo_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Página Inicial", root_path %></li>
        <li><%= link_to "[ Cerrar Sesión ]", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>