<h1>Eventos - Mostrar</h1>
<br>
<%= link_to "Nuevo Evento", new_admin_evento_path %>
<br>
<% if notice.present? %>
	<b><%= notice %></b>
<% end %>
<br>
<table>
	<thead>
		<tr>
			<th>Fecha Inicial</th>
			<th>Fecha Final</th>
			<th>Descripcion</th>
			<th>Tipo Evento</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= "#{@evento.fechainicial}"%></td>
			<td><%= "#{@evento.fechafinal}"%></td>
			<td><%= "#{@evento.descripcion}" %></td>
			<td><%= "#{@evento.eventotipo.nombre}" %></td>
		</tr>
	</tbody>	
</table>